<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login page</title>
    <link rel="stylesheet" href="/static/successful.css" />
    <script src="/static/successful.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="logout_section">
        <div class="login-header">
          <p>歡迎光臨，這是會員頁</p>
        </div>

        <p class="text">{{username}}，歡迎登入系統</p>
        <a href="/signout" class="signout_a">登出系統</a>
      </div>
      <div class="form_section">
        <div class="message-header">
          <p>查詢會員姓名</p>
        </div>
        <div class="block-and-btn">
          <input
            type="text"
            id="input_searching_name"
            name="input_searching_name"
            class="input_block"
            placeholder="username..."
          />
          <button id="start-fetch-button" type="submit">查詢</button>
        </div>
        <div id="searching_name_text" class="username-search-result"></div>
      </div>
      <div class="form_section">
        <div class="message-header">
          <p>更新我的姓名</p>
        </div>
        <div class="update-name" id="update-name-form">
          <!-- action="/api/member" method="patch" -->
          <!-- 問題就出現在使用form，這會導致頁面刷新 -->
          <div class="form-group">
            <input
              type="text"
              id="update_name_input"
              name="update_name_input"
              class="update_name_input"
              placeholder="newname..."
            />
          </div>
          <div class="form-group-last">
            <button id="update-button" type="submit">更新</button>
          </div>
        </div>
        <div id="update-SorF" class="update-SorF"></div>
      </div>
    </div>
  </body>
</html>
