* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
  /* https://hackmd.io/@judyyutong/notes-breakFrame */
  /* 未啥能至中？？我也很好奇 */
}

body {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #fff;
  width: 400px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-header {
  background-color: #333;
  color: #fff;
  padding: 20px 0px;
  font-size: 25px;
  margin-bottom: 30px;
}
.text {
  margin-bottom: 10px;
  font-size: 18px;
}

.logout_section {
  border: 1px solid #bebebe;
  height: 200px;
}
.signout_a {
  display: inline-block;
  /* margin-bottom: 30px; */
}
.block-and-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form_section {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  height: 170px;
}

.form {
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  vertical-align: top;
  padding: 4.5px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 0px;
}

.message-header {
  display: inline-block;
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.input_block,
.update_name_input {
  width: 150px;
  padding: 7px;
  border: 1px solid black;
  border-radius: 2px;
}

.username-search-result {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}

.update-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
