<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login page</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static_css', path='style.css') }}"
    /> -->
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>歡迎光臨，請輸入帳號密碼</h1>
      </div>
      <!-- https://www.fooish.com/html/form.html -->
      <p>登入系統</p>
      <div class="input-block">
        <form action="/label/" method="get">
          <label for="username">帳號</label>
          <input type="text" id="username" name="username" required /><br />

          <label for="password">密碼</label>
          <input type="password" id="password" name="password" required /><br />

          <input type="checkbox" id="accept" name="accept" />
          <label for="accept">同意條款</label><br /><br />

          <input type="submit" value="Sign In" />
        </form>
      </div>
    </div>
  </body>
</html>
