<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login page</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static_css', path='style.css') }}"> -->
    <!-- <link href="style.css" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <!-- <script src="/static/script.js"></script> -->

    <!-- the url_for() method is strange... -->

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>


  </head>
  <body>
    <div class="container">
      <div class="login-header">
        <p>歡迎光臨，請輸入帳號密碼</p>
      </div>
      <p class = "text">登入系統</p></br></p>
      <form action="/signin" method="post">
        <div class="form-group">
          <label for="username">帳號</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">密碼</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="checkbox-group">
          <label for="accept">同意條款</label>
          <input type="checkbox" id="accept" name="accept" />
        </div>
        <div class="form-group-last">
          <button onclick="checkCheckbox()">登入</button>
        </div>
      </form>
    </div>
  </body>
</html>
